body{
  font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

h1{
  font-weight: 700;
}
.smallFont{
    font-size: 0.9em;
}

.msgBorder {
  border: 2px #abc9af solid;
  background-color: #ceded0;
}


.boxes{
    height: 200px;
    width: 100px;
    background: white;
}

.checked {
    color: orange;
  }

.offerPrice{
    color: #d94f34;
    font-size: 1.5rem;
}

.crossLine{
    text-decoration:line-through;
}

.descImage {
    object-fit: cover;  
    height: 600px;
 }

 .myThumbnail{

    object-fit: cover;  
    height: 120px;
    width: 120px;
    border: 1px gray solid;

 }

 p.small {
    line-height: 0.8;
  }

  .inStock{
    color: #03a331;
    font-size: 1.5rem;
}

.otherProductHeadings{
    color: #d17d17;
}

.input-icon{
    position: absolute;
    left: 3px;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }


  /* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
    float: left;
    width: 15%;
    margin-top: 10px;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

.displayNone{
  display: none;
}

.displayBlock
{
  display: block;
}

.handCursor{
  cursor: pointer;
}

.image-preview{
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddddd;
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color:#cccccc;

}



.image-preview_image{
  display: none;
  width: 100%;
}

#tblshowlisting {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tblshowlisting td, #tblshowlisting th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tblshowlisting tr:nth-child(even){background-color: #f2f2f2;}

#tblshowlisting tr:hover {background-color: #ddd;}

#tblshowlisting th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.successBorder{
  border: 2px #abc9af solid;
  background-color:#ceded0;
}

.errorBorder{
  border: 2px #db5858 solid;
  background-color: #e89090;

}

#loading {
  width: 100%;
  height: 100%;
  /* top: 0px;
  left: 0px; */
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}


.divTerms{
  margin: 2% 25% 2% 25%;
  border: 30px #bec6cc solid;
  padding: 0 5% 5% 5%;
}

.h2Terms{
  color:#3498db;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.leftBorder{
  border-left:5px #bec6cc solid;
  padding-left: 1em;
  
}
.Termshr{
  background-color:#d7dbde;
  height: 1px;
}



